<nav>
    <div class="logo">
        <a href="https://geekpack.co" target="_blank"><img src="images/alacran-digital-services-logo.png" alt="GeekPack logo">
        </a>
    </div>
    <div id="navigation">
        <select id="jvLanguageSelector">
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
        </select>
        <a href="home">HOME</a>
        <a href="about">ABOUT</a>
    </div>
</nav>
