<!DOCTYPE html>
<html>
    <head>
        <meta charset="UtF-8">
        <title>About Jorge</title>
        <link href="styles/style.css" rel="stylesheet" type="text/css"/>
        <link href="styles/normalize.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <%- include('../partials/header'); -%>
        </header>

        <div>
            <h1>About Jorge</h1>
        </div>

        <div>
            <div>
                <img src="" alt="Jorge">
            </div>
            <div>
                <h2>Hey, I'm Jorge</h2>
                <p>I'm a lot of things. It's often difficult to describe myself, because I don't necessarily think I neatly fit into any one bucket. But here I'll try.</p>
                <p>I was the first generation in my family to learn English, live in the US, attend university, and have any sort of career for myself. Here's a picture of me with my parents.</p>
                <p>They taught me all the important things in life. They taught me what they could. How to love, how to work, that I should study, and instilled in me the desire to want more for myself and my future.</p>
                <p>In all honestly, this is probably all for them. They probably won't use much of what I build, or even understand it. But the fact remains that I know they're deeply proud of my accomplishments and capabilities and are so happy I have set a great foundation for the rest of my life.</p>
            </div>
        </div>

        <footer>
            <a href="https://www.geekpack.co"><img src="images/geekpack.png" alt="GeekPack logo"/></a>
            <p>Copyright 2020 | All Rights Reserved</p>
        </footer>

    </body>
</html>