<!DOCTYPE html>
<html>
    <head>
        <title>Jorge's Portfolio</title>
        <%- include('../partials/_head'); -%>
    </head>

    <body>
        <header>
            <%- include('../partials/_header'); -%>
        </header>

        <div id="main-content">
            <h1 id="welcome_header">Welcome to My Portfolio</h1>
            <nav>
                <a id="who_am_i_link" href="$introduction">Who am I?</a>
                <a href="$experience">Past Experience</a>
                <a href="$goals">Future Goals</a>
                <a href="$purpose">Project Purpose</a>
            </nav>

            <h2 id="who_am_i_header">Who am I?</h2>
            <p>My name is <%= name %></p>
            <p id="who_am_i_1">My name is Jorge Viramontes. I am a first-generation college student. I am also a first-generation American citizen, born of Mexican immigrant parents.</p>
            <p id="who_am_i_2">I am a University of Michigan graduate with a Bachelors of Science in Computational Informatics, with a minor in entrepreneurship.</p>

            <h2>Past Experience</h2>
            <p>My name is Jorge Viramontes. I am a first-generation college student. I am also a first-generation American citizen, born of Mexican immigrant parents.</p>
            <p>I am a University of Michigan graduate with a Bachelors of Science in Computational Informatics, with a minor in entrepreneurship.</p>

            <h2>Future Goals</h2>
            <p></p>

            <h2>Project Purpose</h2>
            <p></p>
        </div>

        <footer>
            <div class="logo">
                <a href="https://www.geekpack.co"><img src="images/geekpack.png" alt="GeekPack logo"/></a>
            </div>
            <p>Copyright 2020 | All Rights Reserved</p>
        </footer>

        <script src="../../js/index.js"></script>
    </body>
</html>